{% extends 'base.html'%}

{% block content %}
    <img src="{{ url_for('static', filename='images/logo.jpg' )}}" alt="logo">
    <h2>Aplicación Mesoamericana</h2>
    <p>Ingreso como tipo: {{tipo}}</p>
    {% if tipo=='user'%}
        <p>Bienvenido {{username}} a la aplicacion en desarrollo de la universidad</p>
        <ul>
            <li>Calificaciones</li>
            <li>Horario</li>
            <li>Pagos</li>
        </ul>
    {%elif tipo=='admin'%}
        <p>Bienvenido {{username}} a la aplicacion en desarrollo de la universidad</p>
        <ul>
            <li>Materias</li>
            <li>Horario</li>
            {% if cursos %}
                <ul>
                    {% for curso in cursos%}
                        <li>{{curso}}</li>
                    {%endfor%}
                </ul>
            {%endif%}
        </ul>
        {% else %}
            <p>Bienvenido {{username}} entro como invitado</p>
    {%endif%}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock%}